# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
**/.next/
**/out/

# Production
build/
dist/

# Env
.env*
!.env.example
!**/.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*.suo

# OS
.DS_Store
Thumbs.db

# Misc
logs/
*.log
keystore/
*.jks
